body{
    background: linear-gradient(to right,blue,rgb(5, 5, 86));
    height: 90vh;
    padding: 20px 30px;
}

.head{
    color: white;
    text-align: right;
    font-style: italic;
}
img{
    display: block;
    margin: auto;
    border-radius: 50%;
    transition: .5s;
}
img:hover{
    transform: scale(1.06);
}